.header .sidedevices {
	margin: 120px 0 0;
}
@media (max-width: 900px) {
	.header .flex {
		flex-direction: column;
	}
	.header .heading {
		margin-top: 60px;
	}
	.header .paragraph {
		margin-top: 30px;
		text-align: center;
		}
	.header .ctas {
		text-align: center;
	}
	.header .col-6 {
		width: 100%;
	}
	.header .sidedevices {
		margin: 90px 0 0;
	}
}.ctas-input {
	outline: none;
	border: none;
	border-radius: 3px;
	font-size: 15px;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	width: 260px;
	display: inline-block;
}
.testimonial-content {
	margin-top: 15px;
}
.testimonial {
	margin-top: 40px;
	border-radius: 3px;
	padding: 20px;
	border: 1px solid rgba(0,0,0,.1);
	min-height: 240px;
}
@media (max-width: 750px) {
  .socialproof .emoji {
    font-size: 40px;
  }
  .testimonial {
  	min-height: inherit;
  }
  .socialproof .flex {
  	flex-wrap: wrap;
  }
  .socialproof .col-4:nth-of-type(1) {
  	width: 100%;
  }
  .socialproof .col-4:not(:nth-of-type(1)) {
  	width: 50%;
  }
}
@media (max-width: 500px) {
	.socialproof .col-4:nth-of-type(1) {
		margin-bottom: 0;
	}
  .socialproof .col-4:not(:nth-of-type(1)) {
  	width: 100%;
  }
}.ctas-button,
.ctas-button-2 {
	display: inline-block;
	height: 40px;
	line-height: 38px;
	padding: 0 30px;
	background: #fff;
	border-radius: 3px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .3px;
	border: 1px solid white;
	text-decoration: none;
}
.ctas-button-2 {
	background: transparent;
	color: white;
	margin: 0 0 0 10px;
}
@media (max-width: 440px) {
	.ctas-button,
	.ctas-button-2 {
		display: block;
		width: 100%;
		text-align: center;
	}
	.ctas-button-2 {
		margin: 10px 0 0 0;
	}
}.feature1 {
	padding: 90px 0;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.feature1	.centerdevices {
	margin-top: 90px;
}
